*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Estilos para pantallas grandes (ancho mayor a 768 píxeles) */
@media screen and (min-width: 768px) {
  /* Agrega estilos para pantallas grandes aquí */
}

/* Estilos para pantallas pequeñas (ancho menor o igual a 767 píxeles) */
@media screen and (max-width: 767px) {
  /* Agrega estilos para pantallas pequeñas aquí */
}